.countdown{
    width: 100%;
    text-align: center;
    z-index: 1;
}
#countdown{
    position: absolute;
    margin-top: -500px !important;
    width: 1240.56px;
    height: 400px;
    text-align: center;
    margin: auto;
}

#countdown #tiles{
    font: bold 200px 'Chakra Petch', sans-serif;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 5%;
    
}

#countdown .labels{
    width: inherit;
    height: 25px;
    text-align: center;
    position: absolute;
}

#countdown .labels li{
    position: relative;
    width: 30%;
    font: bold 15px 'Chakra Petch', sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
span{
    border: none !important;
}
@media only screen and (max-width: 992px){
.countdown{
    visibility: hidden;
}
#countdown{
    visibility: hidden;
}
#countdown .labels li {
visibility: hidden;
}
.submit{
    margin-top: -300px;
}
}

        

       

   