.countdown{
    width: 100%;
    margin-top: 30px !important;
    text-align: center;
    z-index: 1;
    padding: auto;
}
#countdown{
    width: 98%;
    position: absolute;
    text-align: center;
    padding-top: 20%;
    margin: auto;
}

#countdown #tiles{
    font: bold 200px 'Chakra Petch', sans-serif;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 5%;
    padding: 1%;
}

#countdown .labels{
    font: bold 15px;
    position: relative;
    z-index: 1;
    text-align: center;
}

#countdown .labels li{
    position: relative;
    width: 20%;
    font: bold 15px 'Chakra Petch', sans-serif;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.labels span{
    border: none !important;
    font-size: 199px;
}
@media only screen and (max-width: 992px){
#timer{
    display: none;
}
.submit{
    margin-top: 5%;
}
}

        

       

   